@import url('https://fonts.googleapis.com/css2?family=Acme&family=Oswald:wght@300;400;500;700&display=swap');
/* 
* {
    margin: 0;
    padding: 0;
} */

/* give styles to body */
body {
    display: Flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    background-color: #ffcdb2;
    overflow: hidden;

}

/* styling main container, set to to display flex because to center all items */
.game-container {
    display: Flex;
    justify-content: center;
    align-items: flex-start;
    width: 95vw;
    margin-top: 30px;
}

/* style game-menu div, */
.game-menu {
    background-color: #fca311;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 9px;
    height: 600px;
}


/* give style to buttons they all have sam class */
.game-menu .btn {
    display: block;
    background-color: #001D3D;
    width: 80%;
    cursor: pointer;
    padding: 20px 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #e9edc9;
    border: none;
    border-radius: 9px;

}

.game-menu .btn:hover {
    background-color: #219ebc;
}

/* styiling h1 and h2s */
.main-header {
    font-size: 40px;
    align-items: Center;
    color: #001d3d;

}

header h2 {
    align-items: Center;
    font-size: 20px;
    color: #283618;

}

/* this give style to header icon  */
h1 i {
    color: #6a040f;
    margin-left: 10px;
}

/* style fotter */
footer {
    /* margin-top: 10px; */
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/* styling linkdin and github icons */
.fa-brands {
    font-size: 32px;
    color: #001D3D;
}

.fa-brands:hover {
    color: #fca311;
}

.color-div {

    width: 95vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fca311;
    padding-bottom: 10px;
    display: none;

}

.menu-btn {
    border: none;
    padding: 5px 20px;
    width: 110px;
    margin-bottom: 30px;
    border-radius: 9px;
    background-color: #6a040f;
    color: #ffffff;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.5px;
}

.menu-btn:hover {
    background-color: #fca311;
}

.box {
    width: 120px;
    height: 120px;
    border-radius: 9px;

}

.active {
    border: 1px dashed #ffffff;
}

#box-1 {
    background-color: #fca311;

}

#box-2 {
    background-color: #e76f51;

}

#box-3 {
    background-color: #bb3e03;

}

.box:hover {
    width: 130px;
    height: 130px;
}

.choose-color {
    color: #ffffff;
}



/* make site responsive for tablets */
@media screen and (min-width: 768px) {
    .game-menu {
        padding-bottom: 18px;

    }

    .game-menu .btn {
        font-size: 20px;
        width: 85%;
    }

    .main-header {
        font-size: 45px;
    }

    header h2 {
        font-size: 24px;
    }

    .menu-header {
        font-size: 40px;
    }

    footer {
        margin-top: 10px;
    }

    .fa-brands {
        font-size: 38px;

    }

    h1 i {
        font-size: 49px;
    }
}

/* give responsive sizes  for desktop */
@media screen and (min-width: 1024px) {
    .game-container {
        width: 60%;
    }

    .game-menu {
        padding-bottom: 28px;
        border: 3px solid black;

    }

    .game-menu .btn {
        font-size: 24px;

    }

    .main-header {
        font-size: 50px;
    }

    header h2 {
        font-size: 28px;
    }

    .menu-header {
        font-size: 49px;
    }

    footer {
        margin-bottom: 25px;
        gap: 20px;
    }

    .fa-brands {
        font-size: 48px;

    }

    h1 i {
        font-size: 52px;
    }

}