/* give styles to body */
body {
    display: Flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    background-color: #ffcdb2;
}

/* styling main container, set to to display flex because to center all items */
.game-container {
    display: Flex;
    justify-content: center;
    align-items: flex-start;
    width: 95vw;
    margin-top: 30px;
}

/* style game-menu div, */
.game-menu {
    background-color: #fca311;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 9px;
    height: 600px;
}

/* give style to buttons they all have sam class */
.game-menu .btn {
    display: block;
    background-color: #001D3D;
    width: 80%;
    cursor: pointer;
    padding: 20px 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #e9edc9;
    border: none;
    border-radius: 9px;
}

.game-menu .btn:hover {
    background-color: #219ebc;
}

/* styiling h1 and h2s */
.main-header {
    font-size: 40px;
    align-items: Center;
    color: #001d3d;
}

header h2 {
    align-items: Center;
    font-size: 20px;
    color: #283618;

}

/* this give style to header icon  */
h1 i {
    color: #6a040f;
    margin-left: 10px;
}

/* style fotter */
footer {
    /* margin-top: 10px; */
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/* styling linkdin and github icons */
.fa-brands {
    font-size: 32px;
    color: #001D3D;
}

.fa-brands:hover {
    color: #fca311;
}

/* styling color section */
.color-section {
    width: 95vw;
    height: 70vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fca311;
    padding-bottom: 10px;
    display: none;
    gap: 5px;
}

/* give styles to menu btn */
.menu-btn {
    border: none;
    padding: 5px 20px;
    width: 110px;
    margin-top: 5px;
    border-radius: 9px;
    background-color: #6a040f;
    color: #ffffff;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.5px;
}

.menu-btn:hover {
    background-color: #0a9396;
}

/* styling color boxes */
.box {
    width: 120px;
    height: 120px;
    border-radius: 9px;
}

.active {
    border: 1px dashed #ffffff;
}

#box-1 {
    background-color: #fca311;
}

#box-2 {
    background-color: #e76f51;
}

#box-3 {
    background-color: #bb3e03;
}

.box:hover {
    width: 130px;
    height: 130px;
}

.choose-color {
    color: #ffffff;
}

/* /styling main div */
.main-div {
    width: 95vw;
    min-height: 75vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fca311;
    padding-bottom: 10px;
    border-radius: 9px;
    display: none;
}

/* styling questions window and its elements where user is asked if he is ready or not */
.question-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 150px;
    background-color: #9f86c0;
    border-radius: 15px;
}

.question-window h2 {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    FONT-WEIGHT: 400;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.window-btn {
    width: 100px;
    padding: 10px 0;
    border-radius: 6px;
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: #e5e5e5;
    font-family: 'Acme', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #6a040f;
}

.window-btn:hover {
    background-color: #eae2b7;
}

/* styling scores */
.user-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;

}

.user-score-p {
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.scores-div {
    display: Flex;
    align-items: center;
    gap: 15px;

}

.score {
    color: #0d1321;
    font-family: 'Oswald', 'sans-serif';
    font-weight: 700;
    font-size: 20px;
}

.user-name {
    text-align: center;
}

/* styling play-div  and its elements */
.play-div {
    width: 90%;
    background-color: #9f86c0;
    border-radius: 15px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#form {

    display: Flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 15px;
    padding: 10px 0;

}

#username {
    font-size: 18px;
    padding: 9px 0;
    border: none;
    border-radius: 9px;
    width: 70%;
    text-align: Center;
}

#username::placeholder {
    color: #6a040f;
}

#username:focus {
    outline: none;
}

label {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #6a040f;
    font-weight: 700;
}


/*  give styles to start game btn */
.start-game-btn {
    width: 120px;
    font-size: 18px;
    padding: 3px 15px;
    border: none;
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    cursor: pointer;
    background-color: #6a040f;
    color: #ffffff;
    text-align: center;
}

.start-game-btn:hover {
    background-color: #0a9396;
}

/* give styles to play-game section and its elements */
.play-game {
    display: none;
}

.choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.question {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #0d1321;
}

.choices span {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #0d1321;
    cursor: pointer;
}

/* styling next and restart btns */
.next-btn,
.restart-btn {
    width: 130px;
    padding: 10px 0;
    cursor: pointer;
    border: none;
    border-radius: 9px;
    background-color: #fefae0;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
}

.next-btn,
.restart-btn :hover {
    background-color: #0a9396;
}

.correct-result,
.incorrect-result,
.no-choice,
.finished {
    display: none;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #9a031e;
}

/* make site responsive for tablets */
@media screen and (min-width: 768px) {
    .game-menu {
        padding-bottom: 18px;
    }

    .game-menu .btn {
        font-size: 20px;
        width: 85%;
    }

    .main-header {
        font-size: 45px;
    }

    header h2 {
        font-size: 24px;
    }

    .menu-header {
        font-size: 40px;
    }

    footer {
        margin-top: auto;
    }

    .fa-brands {
        font-size: 38px;
    }

    h1 i {
        font-size: 49px;
    }

    .color-div {
        gap: 10px;
    }

    .choose-color {
        font-size: 39px;
    }

    .menu-btn {
        font-size: 29px;
        text-align: center;
        width: 130px;
        padding-bottom: 9px;
    }

    .play-div {
        width: 75%;
        height: 30%;
    }

    .question-window {
        height: 200px;
    }

    .question-window h2 {
        font-size: 32px;
        letter-spacing: 1px;
    }

    .username {
        width: 80%;
    }

    .btn-container {
        gap: 35px;
    }

    .window-btn {
        width: 150px;
        font-size: 20px;
        font-weight: 500;
    }

    #form {
        margin-top: 15px;
    }

    #username {
        font-size: 20px;
        width: 70%;
    }

    label {
        margin-bottom: 10px;
        font-size: 22px;
    }

    .start-game-btn {
        padding: 6px 0;
        width: 130px;
        font-size: 20px;
    }

    .user-score-h3 {
        font-size: 24px;
    }

    .score {
        font-size: 22px;
    }

    .question {

        font-size: 22px;
    }

    .choices span {

        font-size: 20px;
    }

    .correct-result,
    .incorrect-result,
    .no-choice,
    .finished {

        font-size: 20px;
    }

    .next-btn,
    .restart-btn {
        width: 150px;
        font-size: 20px;
    }
}

/* give responsive sizes  for desktop */
@media screen and (min-width: 1024px) {
    .game-container {
        width: 60%;
    }

    .game-menu {
        padding-bottom: 28px;
        border: 3px solid black;
    }

    .game-menu .btn {
        font-size: 24px;
    }

    .main-header {
        font-size: 50px;
    }

    header h2 {
        font-size: 28px;
    }

    .menu-header {
        font-size: 49px;
    }

    footer {
        gap: 20px;
    }

    .fa-brands {
        font-size: 48px;
    }

    h1 i {
        font-size: 52px;
    }

    .color-div {
        width: 50vw;
        border: 3px solid black;
        gap: 15px;
    }

    .main-div {
        width: 50vw;
        border: 3px solid black;
    }

    .choose-color {
        font-size: 45px;
    }

    .menu-btn {
        font-size: 35px;
        text-align: center;
        width: 140px;
    }

    .question-window h2 {
        width: 80%;
        font-size: 35px;
    }

    .btn-container {
        gap: 39px;
    }

    .window-btn {
        width: 170px;
        font-size: 22px;
    }

    #username {
        font-size: 22px;
        width: 85%;
    }

    label {

        font-size: 24px;
    }

    .start-game-btn {
        width: 140px;
        font-size: 22px;
    }

    .user-score-h3 {
        font-size: 27px;
    }

    .score {
        font-size: 24px;
    }

    .question {
        font-size: 24px;
    }

    .choices span {
        font-size: 22px;
    }

    .correct-result,
    .incorrect-result,
    .no-choice,
    .finished {
        font-size: 22px;
    }

    .next-btn,
    .restart-btn {
        width: 165px;
        font-size: 22px;
        text-transform: uppercase;
    }

    .play-div {
        width: 90%;
    }

    .username {
        width: 90%;
    }
}